#recent-posts > .recent-post-item .post_cover img.post_bg {
  object-fit: contain;
}

.iconPick {
  display: inline-block !important;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}

.image800 {
  width: 800px;
}
